@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.backgroundImage {
    background-image: url('../../public/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.cl-footerAction__signIn{
    display: none;
}